.red-line {
  position: absolute;
  width: 100%;
  border-top: 2px solid $red;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    top: -6px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: $red;
    border-radius: 50%;
    z-index: 6;
  }
}
