.calendar__navigation {
  &-mode {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
  }
}

.calendar {
  &__header {
    margin: 0 10px;
    position: relative;

    &-gmt {
      position: absolute;
      top: 44px;
      left: -4px;
      transform: rotate(270deg);
      font-size: 14px;
      font-weight: bold;
      color: rgb(117, 117, 116);
    }

    .calendar__day-label {
      height: 86px;
      border-radius: 26px;
      padding: 14px 0;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      margin: 0 4px;
    }

    .calendar__day-label:nth-child(1),
    .calendar__day-label:nth-child(2),
    .calendar__day-label:nth-child(3) {
      background-color: #cadf66;
    }

    .calendar__day-label:nth-child(4) {
      background: linear-gradient(to right, #cadf66, #b1c6d6);
    }

    .calendar__day-label:nth-child(5),
    .calendar__day-label:nth-child(6),
    .calendar__day-label:nth-child(7),
    .calendar__day-label:nth-child(8) {
      background-color: #b1c6d6;
    }
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid #eee;
  }
}

.calendar__day-label.today {
  background: #fff !important;
  color: #9380ff;
}
