.calendar__navigation {
  &-mode {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
  }
}

.calendar {
  &__header {
    margin: 0 10px;
    position: relative;

    .calendar__day-label {
      height: 86px;
      border-radius: 26px;
      padding: 14px 0;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      margin: 0 4px;

      &.today {
        background: $white !important;
        color: $primary-color;
      }
    }
  }

  &__header-gmt {
    position: absolute;
    top: 44px;
    left: -4px;
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: $gmt-color;
  }

  &__day-label {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      background-color: $green;
    }
    &:nth-child(4) {
      background: linear-gradient(to right, $green, $blue);
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      background-color: $blue;
    }
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid $gray;
  }
}
