.calendar__time-scale {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 48px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $light-blue;
}

.time-slot {
  position: relative;
  height: 60px;
  width: 53px;
  text-align: right;

  &__time {
    position: absolute;
    top: -4px;
    right: 0;
    font-size: 12px;
    color: $time-slot-time-color;
    margin-right: 12px;
  }
}

.time-slot:nth-of-type(1) {
  display: none;
}
