.button {
  height: 50px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #eee;
    color: #000;
  }
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 12px;
    border: 1px solid #9380ff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(129, 106, 255, 0.5);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #a2ecff5b;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.hidden {
  display: none;
}

.event--completed {
  opacity: 0.3;

  .event__title,
  .event__time {
    text-decoration: line-through;
  }
}

.error-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 80px;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  z-index: 900;
}
