* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background: $background-color;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: $scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $yellow;
  border-radius: 8px;
}
