$primary-color: #9380ff;
$secondary-color: #a3d4f9;
$background-color: linear-gradient(to right, #e7f784, #c8edff);
$white: #fff;
$white-text: rgb(255, 255, 255);
$black: #000;
$black-text: #131313;
$gray: #eee;
$modal-content-color: #ccc;
$light-gray: #f5f5f5;
$dark-gray: #242424;
$red: red;
$light-red: #ffe6e6;
$green: #cadf66;
$blue: #b1c6d6;
$yellow: #e6f87c;
$light-blue: rgb(233, 251, 255);
$light-yellow: #f8ffcf;
$purple: #dbd6ff;
$text-gray: rgb(99, 99, 99);
$text-shadow-color: #636100;
$modal-content-box-shadow: rgba(129, 106, 255, 0.5);
$overlay-background: #a2ecff5b;
$overlay-background-blur: #cccccc45;
$error-message-box-shadow: rgba(255, 0, 0, 0.5);
$scrollbar-background-color: #c8edff;
$time-slot-time-color: #70757a;
$gmt-color: rgb(117, 117, 116);
